<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (storeManager(); as storeManagerRef) {
      <div>
        <h2 data-cy="storeManagerDetailsHeading"><span jhiTranslate="intentApp.storeManager.detail.title">Store Manager</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="intentApp.storeManager.id">Id</span></dt>
          <dd>
            <span>{{ storeManagerRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="intentApp.storeManager.name">Name</span></dt>
          <dd>
            <span>{{ storeManagerRef.name }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/store-manager', storeManagerRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
